body{
	margin:0;
	padding:0;
	background:url(bd.jpg); 
	background-size: cover;
	font-family: sans-serif;

}

div{
	border-radius: 40px;
	border: solid;
	border-width: 5px;	
	border-color: white;
}

.loginbox{
	width: 320px;
	height: 420px;
	background: #000;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing:border-box;
	padding: 70px 30px;
}

.ad{
	width: 110px;
	height: 110px;
	border-radius: 50%;
	position: absolute;
	top:-50px;
	left: calc(50% - 50px)

}

h1
{
	margin: 0;
	padding: 0 0 20px;
	text-align:center;
	font-size: 22px;
	color: #ff0009;
	text-shadow: 
	0 0 5px #ff0009,
	0 0 10px #ff0009,
	0 0 20px #ff0009,
	0 0 40px #ff0009,
	0 0 80px #ff0009;

}

.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.loginbox input{
	width: 100%;
	margin-bottom: 20px;
}

.loginbox input[type="text"] , input[type="password"]
{
	border: none;
	border-bottom: 3px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}


.loginbox input[type="submit"]
{
	border:none;
	outline: none;
	height: 40px;
	background: red; 
	color: #fff;
	font-size: 18px;
	border-radius: 20px;

	box-shadow: 
	0 0 5px #ff0009,
	0 0 10px #ff0009,
	0 0 20px #ff0009;
	}

.loginbox input[type="submit"]:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
	box-shadow: 
	0 0 5px #ff0009,
	0 0 10px #ff0009,
	0 0 20px #ff0009;

}